
<div class="fixed-bottom bg-primary"><p>
  <footer class="footer">
    <div class="footer-images">
      <img src="../../../assets/images/logo/iso9001.png" alt=" logo" width="40" height="40" class="d-inline-block align-text-top"> 
      <img src="../../../assets/images/logo/iso14001.png" alt=" logo" width="40" height="40" class="d-inline-block align-text-top"> 
      <img src="../../../assets/images/logo/iso45001.png" alt=" logo" width="40" height="40" class="d-inline-block align-text-top">
    </div>
  </footer>
  </div>
