<nav *ngIf="radio==''" class="navbar sticky-top navbar-expand-lg --bs-primary-bg-subtle  bg-primary"  >
  
    <div class="collapse navbar-collapse" >
      <ul  class="navbar-nav mx-auto nav nav-pills nav-fill gap-2 p-1 small bg-primary bg-light rounded-5 shadow-sm"  style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
        <li class="nav-item">
          <a  class="nav-link rounded-5 pink" routerLinkActive="active" aria-current="page" (click)="radioOutgoing()"
          > اضافة صادر</a></li>
        <li class="nav-item">
          <a  class="nav-link nav-link rounded-5 green" routerLinkActive="active" (click)="radioIncoming()"
         >اضافة وارد</a>
        </li>
      </ul>
      
  </div>
</nav>

<div class="card" id="element" *ngIf="radio!=''" >
  <h4 class="text-center"> تسجيل الخطاب {{radio}} </h4>
  <div class="content">
    <!-- قسم النموذج -->
    <div class="form-section">
      <form  (ngSubmit)="submitaddingFileForm(addingFileForm)" [formGroup]="addingFileForm">
        <!-- نوع الخطاب -->
        <!-- <div class="form-group">
          <label>نوع الخطاب:</label>
          <div clas="form-check">
            <input
            (change)="radioOutgoing()"
              type="radio"
              formControlName="letterType"
              value="صادر"
              required
            /> 
            <label  class="radio-inline form-check-label">
             صادر
            </label>
            <input 
              (change)="radioIncoming()"

                type="radio"
                formControlName="letterType"
                value="وارد"
                required
              />
            <label class="radio-inline form-check-label">
               وارد
            </label>
          </div>
          <div *ngIf="addingFileForm.get('letterType')?.errors && addingFileForm.get('letterType')?.touched" class="alert alert-danger">
            <small>يرجى اختيار نوع الخطاب.</small>
          </div>
        </div> -->

        <!-- رقم الخطاب -->
        <div class="form-group">
          <label for="letterNumber">رقم الخطاب:</label>
          <input
            class="form-control"
            id="letterNumber"
            type="number"
            formControlName="letterNumber"
            placeholder="أدخل رقم الخطاب"
            required
          />
          <div *ngIf="addingFileForm.get('letterNumber')?.errors && addingFileForm.get('letterNumber')?.touched" class="alert alert-danger">
            <small *ngIf="addingFileForm.get('letterNumber')?.getError('required')">رقم الخطاب مطلوب.</small>
          </div>
        </div>
          <!-- تاريخ الخطاب -->
          <div class="form-group">
            <label for="fileDate">تاريخ الخطاب:</label>
            <input
              class="form-control"
              id="fileDate"
              type="fileDate"
              formControlName="fileDate"
              required
            />
          </div>
            <!--    تاريخ الخطاب الفعلي-->
        <div class="form-group">
          <label for="deliveryDate">تاريخ وصول الخطاب:</label>
          <input
            class="form-control"
            id="deliveryDate"
            type="fileDate"
            formControlName="deliveryDate"
            required
          />
        </div>
        <div class="form-group">
          <label for="responseDuration"> مدة الرد:</label>
          <input
            class="form-control"
            id="responseDuration"
            type="number"
            formControlName="responseDuration"
          />
        </div>

        <!-- عنوان الخطاب -->
        <div class="form-group">
          <label for="title">موضوع الخطاب:</label>
          <input
            class="form-control"
            id="title"
            type="text"
            formControlName="title"
            placeholder="أدخل موضوع الخطاب"
            required
            minlength="5"
            maxlength="35"
          />
          <div *ngIf="addingFileForm.get('title')?.errors && addingFileForm.get('title')?.touched" class="alert alert-danger">
            <small *ngIf="addingFileForm.get('title')?.getError('required')">الموضوع مطلوب.</small>
            <small *ngIf="addingFileForm.get('title')?.getError('minlength')">الحد الأدنى 5 أحرف.</small>
            <small *ngIf="addingFileForm.get('title')?.getError('maxlength')">الحد الأقصى 35 حرفًا.</small>
          </div>
        </div>
<!-- جهه الخطاب     -->
    <!-- <div >
          <label for="Directorate">جهة الخطاب:</label>
          <select
            class="form-control"
            id="Directorate"
            type="text"
            formControlName="Directorate"
            placeholder="أدخل جهة الخطاب"
            required
            minlength="5"
            maxlength="35"
          ><option value="">اختر جهة الخطاب</option>
          <option *ngFor="let directorate of directorates" [value]="directorate">
            {{ directorate }}
          </option>
        </select>
          <div *ngIf="addingFileForm.get('Directorate')?.errors && addingFileForm.get('Directorate')?.touched" class="alert alert-danger">
            <small *ngIf="addingFileForm.get('Directorate')?.getError('required')">الجهه مطلوبة .</small>
            
          </div>
        </div> -->

        <div>
          <label for="Directorate">جهة الخطاب:</label>
          
          <select
            class="form-control"
            id="Directorate"
            formControlName="Directorate"
            required
            (input)="onSearchChange()"
          > <input
          type="text"
          class="form-control"
          id="DirectorateSearch"
          placeholder="ابحث عن جهة الخطاب"
          [(ngModel)]="searchTerm"

        />
            <option value="">اختر جهة الخطاب</option>
            <option *ngFor="let directorate of directorates | search:searchTerm  " [value]="directorate">
              {{ directorate }}
            </option>
          </select>
          <div *ngIf="addingFileForm.get('Directorate')?.errors && addingFileForm.get('Directorate')?.touched" class="alert alert-danger">
            <small *ngIf="addingFileForm.get('Directorate')?.getError('required')">الجهه مطلوبة .</small>
          </div>
        </div>



        <!-- وصف الخطاب -->
        <div class="form-group">
          <label for="description">وصف الخطاب:</label>
          <textarea
            class="form-control"
            id="description"
            formControlName="description"
            placeholder="أدخل وصف الخطاب"
          ></textarea>
        </div>

        <!-- Tags -->
        <div class="form-group">
          <label for="tags">الاشارات:</label>
          <input
            class="form-control"
            id="tags"
            type="text"
            formControlName="tags"
            placeholder="أدخل الاشارات (افصل بينها بفاصلة ',')"
          />
        </div>

        <!-- إضافة ملف -->
        <div class="form-group">
          <label for="file">إضافة ملف:</label>
          <input
            class="form-control"
            id="file"
            type="file"
            formControlName="file"
            (change)="handleFileInput($event)"
            required
            multiple
          />
          <div *ngIf="addingFileForm.get('file')?.errors && addingFileForm.get('file')?.touched" class="alert alert-danger">
            <small>إرفاق الملف مطلوب.</small>
          </div>
        </div>

        <!-- عدد المرفقات -->
        <div class="form-group">
          <label for="attachmentCount">عدد المرفقات:</label>
          <input
            class="form-control"
            id="attachmentCount"
            type="text"
            formControlName="attachmentCount"
            placeholder="أدخل عدد المرفقات"
          />
        </div>

        <!-- زر الإرسال [disabled]="addingFileForm.invalid"-->
        <button type="submit"  class="btn btn-primary btn-block mb-3">
          إرسال
        </button>
      </form>
    </div>
  </div>
</div>
